 # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#                                                               #
#   ██████╗ ██████╗ ███╗   ███╗███╗   ███╗ ██████╗ ███╗   ██╗   #
#  ██╔════╝██╔═══██╗████╗ ████║████╗ ████║██╔═══██╗████╗  ██║   #
#  ██║     ██║   ██║██╔████╔██║██╔████╔██║██║   ██║██╔██╗ ██║   #
#  ██║     ██║   ██║██║╚██╔╝██║██║╚██╔╝██║██║   ██║██║╚██╗██║   #
#  ╚██████╗╚██████╔╝██║ ╚═╝ ██║██║ ╚═╝ ██║╚██████╔╝██║ ╚████║   #
#   ╚═════╝ ╚═════╝ ╚═╝     ╚═╝╚═╝     ╚═╝ ╚═════╝ ╚═╝  ╚═══╝   #
#                                                               #
 # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

 # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#                                                               #
#       ███████╗███████╗██████╗ ██╗   ██╗███████╗██████╗        #
#       ██╔════╝██╔════╝██╔══██╗██║   ██║██╔════╝██╔══██╗       #
#       ███████╗█████╗  ██████╔╝██║   ██║█████╗  ██████╔╝       #
#       ╚════██║██╔══╝  ██╔══██╗╚██╗ ██╔╝██╔══╝  ██╔══██╗       #
#       ███████║███████╗██║  ██║ ╚████╔╝ ███████╗██║  ██║       #
#       ╚══════╝╚══════╝╚═╝  ╚═╝  ╚═══╝  ╚══════╝╚═╝  ╚═╝       #
#                                                               #
 # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

/Server/*/bin
/Server/*/obj
/Server/FrostlingsBot/config.env.json

 # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #
#                                                               #
#         ██████╗██╗     ██╗███████╗███╗   ██╗████████╗         #
#        ██╔════╝██║     ██║██╔════╝████╗  ██║╚══██╔══╝         #
#        ██║     ██║     ██║█████╗  ██╔██╗ ██║   ██║            #
#        ██║     ██║     ██║██╔══╝  ██║╚██╗██║   ██║            #
#        ╚██████╗███████╗██║███████╗██║ ╚████║   ██║            #
#         ╚═════╝╚══════╝╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝            #
#                                                               #
 # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

# compiled output
/Client/dist
/Client/dist-server
/Client/tmp
/Client/out-tsc

# dependencies
/Client/node_modules

# misc
/Client/package-lock.json
/Client/.sass-cache
/Client/connect.lock
/Client/coverage
/Client/libpeerconnection.log
npm-debug.log
testem.log
/Client/typings

# e2e
/e2e/*.js
/e2e/*.map
