<div class="social">
    <div class="social-container">
        <div class="social-container-update">
            <span class="social-container-update_item">new:</span>
        </div>
        <div class="social-container-news">
            <span class="social-container-news_item">TheCryosGurl updated</span>
            <span class="social-container-news_date">{{ today | date }}</span>
        </div>
        <div class="social-container-media">
            <a class="social-container-media_item" href="https://discordapp.com/invite/sdSstQ?utm_source=Discord%20Widget&utm_medium=Connect">
                <i class="fab fa-discord"></i>
            </a>
            <a class="social-container-media_item" href="https://twitter.com/CryosGurl">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <div class="social-container-login">
            <a class="social-container-login_item" routerLink="/login">
                <i class="fas fa-sign-in-alt"></i>
            </a>
        </div>
    </div>
</div>
