<div class="social">
    <div class="social-container">
        <div class="social-container-update">
            <span class="social-container-update_item">new:</span>
        </div>
        <div class="social-container-news">
            <span class="social-container-news_item">TheCryosGurl updated</span>
            <span class="social-container-news_date">{{ today | date }}</span>
        </div>
        <div class="social-container-media">
            <a class="social-container-media_item" href="discord">
                <i class="fab fa-discord"></i>
            </a>
        </div>
    </div>
</div>
