// src/app/app.component.scss

@import '~assets/sass/variables';

// now we can use those variables!
html, body {
    background-color: $light-home;
    overflow-x: hidden;
    max-width: 100%;
    overflow-x: hidden;
}
