@import '~assets/sass/variables';
@import '~assets/sass/mixins';

.social {
    display: flex;
    height: 60px;
    box-shadow:rgba(0,0,0,0.3) 0 12px 15px;
    justify-content: center;

    &-container {
        display: flex;
        width: 1070px;
        align-items: center;
        justify-content: flex-start;
        &-update {
            transform: skewX(-10deg);
            font-family: $font-fam;
            font-weight: 900;
            font-size: 12px;
            background-color: $social-update;
            text-transform: uppercase;
            padding: 0 9px;
            &_item {
                display: inline-block;
                transform: skewX(10deg);
            }
        }
        &-news {
            width: 100%;
            margin-left: 20px;
            font-family: $font-fam;
            font-weight: 900;
            font-size: 14px;
            &_item {
                color: $social-item-text;
                cursor: pointer;

                &:hover {
                    color: $social-item-text-hover;
                }
            }
            &_date {
                font-size: 12px;
                font-family: $font-date;
                margin-left: 10px;
                color: $social-date-text;
                cursor: pointer;
            }
        }
        &-media, &-login {
            display: flex;
            font-weight: 900;
            font-size: 20px;
            color: $social-media;
            &_item {
                margin-left: 10px;
                color: inherit;
                &:hover {
                    color: $social-media-hover;
                }
            }
        }
        &-login {
            margin-left: 30px;
        }
    }
}
