@import '~assets/sass/variables';
@import '~assets/sass/mixins';

.members {
    background-color: $dark-home;

    &-container {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
        color: $white;

        &-card {
            display: flex;
            background-color: $grey;
            min-width: 300px;
            width: 95%;
            border-radius: 10px;
            padding: 10px;
            margin-top: 10px;

            @include mobile {
                flex-direction: row;
                align-items: center;
            }

            &_title {
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 2rem;
                width: 25%;
            }

            &_about {
                align-self: center;
                color: black;

                span {
                    width: 10%;
                }
            }
        }
    }

}
