@import url('https://fonts.googleapis.com/css?family=Dosis:800');
@import url('https://fonts.googleapis.com/css?family=Roboto');

//font
$font-fam: 'Dosis', sans-serif;
$font-date: 'Roboto', sans-serif;

//Sizes
$padding-top: 3vh;

//pipboy
$pipboy-back-sides: #000C06;
$pipboy-back-center: #00160B;
$pipboy-line: #27F929;

//csgo
$ark-green: #109856;
$ark-purple: #803ca1;
$ark-blue: #68a3e5;
$ark-yellow: #e6f13d;
$ark-orange: #eda338;

//Colors
$global-white: #fff;
$global-black: #000;

$global-light-grey: #989898;
$global-grey: #282828;
$global-dark-grey: #161616;

$global-pink: #FD2850;
$global-ice: #00ffff;
$global-light-blue: lightblue;

//Main
$main-container: $global-dark-grey;

//Header

    //social-menu
    $social-update: $global-ice;
    $social-item-text: $global-white;
    $social-item-text-hover: $global-ice;
    $social-date-text: $global-light-grey;
    $social-media: $global-light-grey;
    $social-media-hover: $global-ice;

    //Menu
    $menu-scew: $global-ice;
    $menu-item: $global-grey;
    $menu-hover: $global-ice;
    $menu-text:  $global-light-grey;
    $menu-border: $global-dark-grey;
    $menu-hover-text: $global-black;

//Home

    //news
    $news-item: $global-ice;
    $news-item-box-text: $global-white;
    $news-item-box-title-hover: $global-ice;

//Ark
$ark-main: $global-light-blue;

    //Members
    $member-container: $global-light-blue;
    $member-container-text: $global-white;
    $member-card: $global-white;
    $member-card-about: $global-black;

//Login
$login-container: $global-white;
$login-border: $global-light-grey;
