// Colors

$black: #000;
$white: #fff;
$light-grey: #f3f3f3;
$grey: #989898;
$dark-header: $black;
$light-header: #555555;
$dark-home: #161616;
$light-home: #DDDDDD;
$azul: #669999;
$member-grey: #181818;


$pipboy-back-sides: #000C06;
$pipboy-back-center: #00160B;
$pipboy-line: #27F929;
//#10C55C;

//ark-colors
$ark-green: #109856;
$ark-purple: #803ca1;
$ark-blue: #68a3e5;
$ark-yellow: #e6f13d;
$ark-orange: #eda338;

//Sizes
$padding-top: 3vh;
